/* Start Global Rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}
:root{
    --main-color:#10cab7;
    scroll-behavior: smooth;

}
body{
    font-family: 'Work Sans', sans-serif;
    
}
/* Start components */
.special-heading{
color:#ebeced;
font-size: 100px;
text-align: center;
font-weight: 800;
letter-spacing: -5px;
margin: 0;
}
.special-heading + p{
    margin-top:-30px;
    text-align: center;
    font-size: 20px;
}
@media(max-width:767px){
    .special-heading{
        font-size: 60px;

    }
    .special-heading + p{
        margin-top: -20px;
        font-size: 15px;

    }
}
/* End components */
/* End Global Rules */

/* Star Container */
.parent{
    background-color: #eee;

}
.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    
}
/* Small */
@media(min-width:768px){
    .container{
        width:750px;
    }
}
/* Medium */
@media(min-width:992px){
    .container{
        width:970px;
    }
}
/* Large */
@media(min-width:1200px){
    .container{
        width:1170px;
    }
}
/* End Container */
/* Start header */
header{
    padding: 20px 20px 5px 20px;
    margin-bottom: 0;
    /* background-color: #ccc; */
}
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.links{
    position: relative;
}

.links:hover .menu{
    display: block;
}
.links i{
    font-size: 30px;
    cursor: pointer;
    transition: .4s;

}
.links:hover i{
    font-size: 35px;
}
.menu{
    display: none;
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #f6f6f6;
    position: absolute;
    right: 0;
    font-size: 20px;
    min-width: 200px;
    top: calc(100% + 20px);
    z-index: 1;
}
.menu::before{
    content: "";
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #f6f6f6 transparent;
    position: absolute;
    right: 5px;
    top: -20px;
}

.menu li a{
    text-decoration: none;
    display: block;
    padding: 15px;
    color: #333;
    transition: .3s;
}
.menu li:not(:last-child) a{
    border-bottom: 1px solid #ddd;
}
.menu li a:hover{
    padding-left: 25px;
    color:var(--main-color);
    font-weight:800;
}

/* Start logo */
.logo{
    width: 90px;
    height: 65px;
    border-radius: 20%;
}
/* End logo */
/* End header */
/* Start landing */
.landing{
    background-image: url(../images/wallpaperuse.com-white-wallpaper-4352.jpg);
    background-size: cover;
    height:calc(100vh - 120px);
    position: relative;
}
.intro-text{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    width: 320px;
    max-width: 100%;
}
h1{
    margin: 0px;
    font-weight: bold;
    font-size: 50px;
    color:var(--main-color);
}
.intro-text p{
    font-size: 19px;
    line-height: 1.8;
    text-transform: capitalize;
}
.name{
    color: var(--main-color);
    font-weight: bold;
}
/* End landing */
/* Start Features */
.features{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #f6f6f6;
}
.features .container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    grid-gap: 20px;
}
.features .feat{
    padding: 20px;
    text-align: center;
}
.features .feat i{
    color: var(--main-color);
    font-size: 60px;
}
.features .feat h3{
    font-weight: 800;
    margin: 15px 0 30px;
}
.features .feat p{
    line-height: 1.8;
    color: #656565;
    font-size: 18px
}
/* End Features */
/* Start services */
.services{
    padding-top: 60px;
    padding-bottom: 60px;
    
}
.services .services-content{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    margin-top: 100px;
}
.srv{
    display: flex;
    margin-bottom: 40px;
}
@media(max-width:767px){
    .srv{
        flex-direction: column;
        text-align: center;
    }
}
.srv i{
    font-size: 30px;
    color:var(--main-color);
    flex-basis: 60px;
}
.srv .text{
    flex: 1;
}
.srv .text h3{
    margin: 0 0 30px;
}
.srv .text p{
    color: #444;
    line-height: 1.6;
}


.col  .image{
    text-align: center;
    position: relative;

 

    /* width: 100%; */
}

.col .image img{
    height:  300px;

    
    
}

.col .image::before{
    content: "";
    background-color: var(--main-color);
    top: -40px;
    right: 10%;
    width: 118px;
    height: calc(100% + 80px);
    position: absolute;
    z-index: -1;
}
@media(max-width:767px){
    .col .image::before{
    content: "";
    background-color: var(--main-color);
    top: 80%;
    right: 10%;
    width: 80%;
    height: 80px;
    position: absolute;
    z-index: -1;
    }
}
/* End services */
/* Start portfolio */
.portfolio{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #f6f6f6;
}
.porfolio-content{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    grid-gap: 30px;
    margin-top: 80px;
}

.porfolio-content .card{
    background-color: white;
}
.porfolio-content .card img{
    max-width: 100%;
    min-width: 100%;
    
}
.porfolio-content .card .info{
    padding: 20px;
}
.porfolio-content .card .info h3{
    margin: 0;
}
@media(max-width:767px){
    .porfolio-content .card .info h3{
       text-align: center;
    }
}
.porfolio-content .card .info p{
    margin-bottom: 0;
    line-height: 1.6;
    color: #777;
}
/* End portfolio */
/* Start about */
.about{
    padding-top: 60px;
    padding-bottom: 60px;
}
.about-content{
    margin-top: 120px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-content .image{
    position: relative;
    width: 375px;
    height: 375px;
  
}
.about-content .image::before{
content: "";
position: absolute;
width: 100px;
background-color: #ebeced;
height: calc(100% + 80px);
top: -40px;
left: -25px;
z-index: -1;
}
.about-content .image::after{
    content: "";
    position: absolute;
    width: 30%;
    height: 70%;
    /* background-color: #9e9e9e; */
    border-left: 108px solid var(--main-color);
    border-bottom: 60px solid var(--main-color);
    right: -160px;
    bottom: 121px;
    z-index: -1;
}

  

.about-content .image img{
    max-width: 100%;
}
.about-content .text{
    flex-basis: calc(100% - 600px);
}
.about-content .text p:first-of-type{
    font-weight: bold;
    line-height: 2;
    margin-bottom: 50px;
}
.about-content .text hr{
    width: 50%;
    border-color: var(--main-color);
    
    display: inline-block;
    
}
.about-content .text p:last-of-type{
    line-height: 2;
    color: #777;
}
@media(max-width:991px){
    .about-content .image::before,
    .about-content .image::after{
        display: none;
    }
    .about-content{
        flex-direction: column;
    }
    .about-content .image{
        margin: 0 auto 30px;
    }
    .about-content .text{
        padding: 30px;
        
    }
}
/* end about */
/* start contact */
.contact{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #f6f6f6; 
}
.contact .info{
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
}
.contact .info .label{
    font-size: 30px;
    font-weight: bold;
    color: var(--main-color);
    letter-spacing: -1px;
}
.contact .info  a{
        display: block;
        font-size: 30px;
        font-weight: bold;
        text-decoration: none;
        margin-left: 100px;
        color: darkcyan;
}
.contact .info .social{
    margin-top: 15px;
    margin-left: 100px;
    display: flex;
    justify-content: center;
    align-items:center;
    color: #777;
}
.contact .social p{
 
    font-size: 18px;
}
.contact .info .social i{
    font-size: 24px;
    margin-left: 1em;
    cursor: pointer;
}
.contact .info .social i:hover{
    color: var(--main-color);
}
@media(max-width:767px){
    .contact .info .label{
        font-size: 20px;
    }
    .contact .info  a{
        font-size: 18px;
        margin-left: 35px;
    }
    .contact .info{
        padding-top: 30px;
    }
    .contact .social p{
 
        font-size: 14px;
    }
    .contact .info .social i{
        font-size: 18px;
        margin-left: 0.8em;
    }

    .contact .info .social{
        margin-left: 70px;
    }
    
}

/* end contact */
 /* start footer */
 .footer{
     background-color: darkcyan;
     color: white;
     padding: 25px 10px;
     text-align: center;
     font-size: 18px;
 }
 .footer span{
     font-weight: bold;
     color: var(--main-color);
 }
 /* end footer */
